@charset "UTF-8"
/** 
 * for Layout
 */

html, body
  :height  100%
  :margin  0
  :padding 0

div#ws-dobon-main
  :height  100%
  :display -webkit-box
  :display -moz-box
  :display -o-box
  :display box
  :font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif

  div.container
    :width  400px
    :border
      :right 1px dotted #e72247

    h1
      :margin 0 auto
      :width  398px
      :height 650px
      :background
        :image url("../image/title-logo.png")

    h2.menu-title
      :margin 0
      :padding 0
        :top 40px
        :bottom 10px

      a#menu_create_room
        :background-image url("../image/menu/create_room.png")
      a#menu_join_room
        :background-image url("../image/menu/join_room.png")
      a#menu_game_list
        :background-image url("../image/menu/game_list.png")

      a
        :display block
        :width  400px
        :height 60px
        :background-position top left

        &:hover
          :background-position bottom left

    div.menu-contents
      :display none
      :margin 0 20px

      input
        :width 300px
        :display block
        :margin 0 auto
        :font-size 1.5em

      button
        :width 100px
        :display block
        :margin 20px auto

    &#room_list_container
      :display none
      :width 400px

      #feedback
        :font
          :size 1.1em

      #room_list
        :list-style-type none
        :margin 20px auto
        :padding  0
        :width    70%

        .ui-selecting
          :background #FECA40

        .ui-selected
          :background #F39814
          :color white

        li
          :margin 10px 0
          :padding 0.4em
          :font
            :size  1.1em
          :width   280px
          :text
            :align center

  div#dialog-message
    :display none

  div#game_table_container
    :background-color #f9fff1
    :width 800px

    #table_area
      :border
        :top 1px dotted #e72247
      :width  780px
      :height 520px
      :margin 0 auto
      :padding
        :top 20px
      :position relative

      #round_info
        :position absolute
        :top 30px
        :left 20px
        :font-size 1.3em
        :font-weight bold

      #table_info
        :position relative
        :top 220px
        :left 300px
        :width 180px
        :height 110px

        :font-weight bold

        #played_info
          :position absolute
          :top 0
          :left 0
          :height 100%

          #played_number
            :position absolute
            :bottom 0
            :right 20px

        #deck_info
          :position absolute
          :top 0
          :right 0
          :height 100%

          #deck_number
            :position absolute
            :bottom 0
            :right 20px

      #game_message
        :position absolute
        :top    410px
        :left   290px
        :width  200px
        :height  60px
        :text-align center
        :font-size  2em
 
      #others_info
        :position absolute
        :top  0
        :left 0
        :width 100%
        :height 100%

        #other_area_left
          :position absolute
          :top    180px
          :left    30px
          :width  120px
          :height 120px
          :text-align left

        #other_area_right
          :position absolute
          :top    180px
          :right   30px
          :width  120px
          :height 120px
          :text-align right

        #other_area_opposite
          :position absolute
          :top     30px
          :left   330px
          :width  120px
          :height  80px
          :text-align center

        .other_score
          :font-weight bold

        .other_hand
          :font-weight bold
          :font-size 2.5em

    #player_area
      :background-color #e3ffb8
      :width  780px
      :height 110px
      :margin 0 auto
      :border
        :top 1px dotted #e72247
        :bottom 1px dotted #e72247

      button
        :width 70px
        :font
          :size 1em
        :display block

      #button_area
        :float left
        :width 180px

        .button_block
          :float left

          button
            :margin 12px 5px

      #hand_area
        :float left
        :height 100%
        :width  600px

        #hand
          :list-style-type none
          :margin 0
            :left  auto
            :right auto
          :padding
            :top 15px

    .ui-selected
      :border 1px solid red

    .playing_card_img
      :float left
      :width  56px
      :height 80px
      :box-sizing border-box
      :margin
        :right 10px
      :background
        :image url("../image/playing_cards_small.gif")
        :repeat no-repeat
        :position left top

