@charset "UTF-8"
/** 
 * for Layout
 */

html, body
  :height  100%
  :margin  0
  :padding 0

div#ws-dobon-main
  :height  100%
  :display -webkit-box
  :display -moz-box
  :display -o-box
  :display box
  :font-family "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif

  div.container
    :width  400px
    :border
      :right 1px dotted #e72247

    h1
      :margin 0 auto
      :width  398px
      :height 650px
      :background
        :image url("../image/title-logo.png")

    h2.menu-title
      :margin 0
      :padding 0
        :top 40px
        :bottom 10px

      a#menu_create_room
        :background-image url("../image/menu/create_room.png")
      a#menu_join_room
        :background-image url("../image/menu/join_room.png")
      a#menu_game_list
        :background-image url("../image/menu/game_list.png")

      a
        :display block
        :width  400px
        :height 60px
        :background-position top left

        &:hover
          :background-position bottom left

    div.menu-contents
      :display none
      :margin 0 20px

      input
        :width 300px
        :display block
        :margin 0 auto
        :font-size 1.5em

      button
        :width 100px
        :display block
        :margin 20px auto

    &#room_list_container
      :display none
      :width 400px

      #feedback
        :font
          :size 1.1em

      #room_list
        :list-style-type none
        :margin 20px auto
        :padding  0
        :width    70%

        .ui-selecting
          :background #FECA40

        .ui-selected
          :background #F39814
          :color white

        li
          :margin 10px 0
          :padding 0.4em
          :font
            :size  1.1em
          :width   280px
          :text
            :align center

  div#dialog-message
    :display none

  div#game_table_container
    :width 800px

    .display_playinfo
      :margin
        :top    10px
        :bottom 10px
      :font
        :size 1.1em

    .playing_card_img
      :float left
      :width  56px
      :height 80px
      :box-sizing border-box
      :margin
        :right 10px
      :background
        :image url("../image/playing_cards_small.gif")
        :repeat no-repeat
        :position left top

    #hand
      :list-style-type none

    .ui-selected
      :border 1px solid red

